body *{
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

.banner {
	background-color: #F0BD35 ;
	position: fixed;
	width: 100%
}

main {
	padding-top: 100px
}

.col-12 h1 {
	margin-bottom: 0;
	padding-bottom: 4px;
	margin-top: 10px;
}

.col-12 h5 {
	margin: 0 auto 10px auto

}

.box {
	border: 1px #E9E9E9 solid;
	margin-bottom: 15px;

}

.box img {
	width: 100%;

}

.box h5 {
	margin-top: 20px;
	margin-bottom: 0;
	font-size: 1.0em
}

.row p {
	padding-bottom: 10px;
	margin-top: 3px

}
.box h5,.box p {
	padding-left:  10px
}



